section{
    padding: 300px;
    height: 100vh;
    position: relative;
}
div{
    perspective: 1000px;
    border-radius: 10px;
    width: 650px;
    position: absolute;
    top: 70px;
    left: 600px;
    mix-blend-mode: multiply;


}
figure{
    display:flex;
}



.di1{
    position: absolute;
    top: 40px;
    right:900px;
    background-color: rgb(127, 251, 255);
    width: 30em;
    text-align: center;
}
.di1:hover{
    transform: matrix(20px)
}
.di2{
    position: absolute;
    top: 185px;
    right:900px;
    background-color: yellow;
    width: 30em;
    text-align: center;
}
.di2:hover{
    transform: matrix(20px);
}
.di3{
    position: absolute;
    top: px;
    right:900px;
    background-color:lightcoral;
    width: 30em;
    text-align: center;
}
.di3:hover{
    transform: matrix(20px);
}